@use '../util/' as u;

.wrapper {
  //  this is a helper class that will we can use several times to center our content with the properties below
  width: min(100% - u.rem(48), u.rem(1200));
  //   width: min() is a css funnction contains of two different parameters and it is used to set to the smallest
  //   css rule compared to its parents width. So in this case the element with class wrapper will be either
  //   100% - 48px of the screen size OR 1200px wide, it will choose the one which is smallest.
  //   This helps so that the content is nicely responsive to different screens but doesnt scale endlessly bigger
  //   and get out of porportion big on x-large screens.
  margin-inline: auto;
  //   margin-inline only effect the margin on left and right side.
  padding-block: 60px;

  @include u.breakpoint(large) {
    padding-block: 80px;
  }
}

.fb-wrapper {
  display: grid;
  grid-template-columns:
    [fb-start] 1fr [content-start] min(100% - u.rem(48), u.rem(1200))
    [content-end] 1fr [fb-end];
  //this is an intuitive way you can name the lines in your grid so it
  //get more self explanitory from where the coulmns should end and start as
  //you can see below

  //to write > * as below targets the direct children to .fb-wrapper,
  //which are both .fb-wrapper__full and .fb-wrapper__content
  > * {
    grid-row: 1 / 2;
  }

  &__full {
    grid-column: fb-start / fb-end;
    align-self: end;
  }

  &__content {
    grid-column: content-start / content-end;
  }
}
